.video-banner{
    video {
        // min-width: 100%;
        // min-height: 100%;
        height: 500px;
        width: 100%;
        object-fit: cover; // use "cover" to avoid distortion
        // position: absolute; 
    }
}